:root{
    --primary-color: #353e4d;
    --secondary-color: #c7e5ec;
    --selector-color: #02f2fa;
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.timer {
    display: flex;
    justify-content: flex-end;
}

.answercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.scores {
    display: flex;
    
}

.endscreen {
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    flex-direction: row;
}

#startstyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#question {
    font-size: 50px;
    font-family: var(--primary-font);
    padding: 1rem;
}


#result {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#input {
    margin-top: 20px;
    margin-bottom: 10px;
}
